# 1. Opérateurs Arithmétiques

### Exercice 1.1 : Calculs Simples

Calculez la somme de 23 et 19.  
Soustrayez 15 de 45.     
Multipliez 12 par 4.  
Divisez 100 par 5.   
Trouvez le reste de la division de 28 par 6.

### Exercice 1.2 : Combinaison d'Opérateurs

Calculez la moyenne de trois nombres : 10, 20, et 30.  
Doublez la somme de 14 et 16, puis soustrayez 10.

In [4]:
23 + 19

42

In [5]:
15 - 45

-30

In [6]:
12 * 4

48

In [7]:
100 / 5

20.0

#### 2. Les Types

### Exercice 2.1 : Identification de Types

Identifiez le type de chacune des valeurs suivantes : 42, 3.14, True, "Python".

In [8]:
type(42)

int

In [10]:
type(3.14)

float

In [11]:
type(True)

bool

In [13]:
type("Python")

str

### Exercice 2.2 : Conversion de Types

Convertissez 50 en float.  
Convertissez 3.999 en int.  
Convertissez True en int, puis en str.

In [14]:
float(50)

50.0

In [15]:
int(3.999)

3

In [25]:
valeur_booleenne = True

In [27]:
valeur_entier = int(valeur_booleenne)

In [28]:
valeur_chaine = str(valeur_entier)

In [29]:
print(valeur_chaine)

1

# 3. Opérateur de Comparaison et Opérateurs Logiques

### Exercice 3.1 : Comparaisons Simples

Vérifiez si 10 est supérieur à 3.  
Comparez si 25 est égal à 30.  
Vérifiez si 'a' est différent de 'b'.

In [32]:
est_superieur = 10 > 3
print(est_superieur)

True

In [33]:
est_egal = 25 == 30
print(est_egal)

False

In [34]:
est_different = 'a' != 'b'
print(est_different)

True

### Exercice 3.2 : Utilisation des Opérateurs Logiques

Déterminez si 20 est supérieur à 10 et que 5 est inférieur à 8.  
Vérifiez si 100 est égal à 100 ou si 50 est supérieur à 60.

In [35]:
condition1 = (20 > 10) and (5 < 8)
print(condition1)  

condition2 = (100 == 100) or (50 > 60)
print(condition2)  # Cela affichera True

True
True

# 4. Variables et Réaffectation

### Exercice 4.1 : Création et Affectation

Créez une variable x ayant pour valeur 10. Incrémentez x de 5. Affichez le résultat.

In [36]:
x = 10
x += 5
print(x)

15

## Exercice 4.2 : Réaffectation et Opérateurs

Créez une variable score à 0. Ajoutez 10 à score en utilisant un opérateur de réaffectation. Affichez le résultat.

In [37]:
score = 0
score += 10
print(score)

10

# 5. Les Chaînes de Caractères

## Exercice 5.1 : Manipulation de Chaînes

Créez une chaîne de caractères "Python" et accédez au premier et dernier caractère.  
Inversez la chaîne "hello" en utilisant l'indiçage.  
Concaténez deux chaînes de caractères "Hello, " et "world!".

In [38]:
chaine = "Python"
premier_caractere = chaine[0]
dernier_caractere = chaine[-1]
print("Premier caractère:", premier_caractere) 
print("Dernier caractère:", dernier_caractere)

Premier caractère: P
Dernier caractère: n

In [39]:
chaine_a_inverser = "hello"
chaine_inversee = chaine_a_inverser[::-1]
print("Chaîne inversée:", chaine_inversee)

Chaîne inversée: olleh

In [40]:
chaine1 = "Hello, "
chaine2 = "world!"
chaine_concatenee = chaine1 + chaine2
print(chaine_concatenee)  # Cela affichera "Hello, world!"

Hello, world!

### Exercice 5.2 : Plus sur les Chaînes

Vérifiez si le mot "data" est dans la chaîne "Data science is cool".  
Formatez la chaîne "Le nombre {} est pair." avec un nombre de votre choix.  
Transformez la chaîne "PYTHON" en minuscules.

In [41]:
chaine = "Data science is cool"
mot = "data"
presence_mot = mot.lower() in chaine.lower()
print(presence_mot)

True

In [43]:
nombre = 4
chaine_formatee = "Le nombre {} est pair.".format(nombre)
print(chaine_formatee)

Le nombre 4 est pair.

In [44]:
chaine = "PYTHON"
chaine_minuscules = chaine.lower()
print(chaine_minuscules)

python