### Exercice 1 : Manipulation de liste
1. Créez une liste contenant les nombres 1 à 5, puis affichez-la.
2. Ajoutez le nombre 6 à la fin de la liste, puis affichez la liste mise à jour.
3. Supprimez le troisième élément de la liste, puis affichez la liste mise à jour.
4. Parcourez la liste avec une boucle for et affichez chaque élément multiplié
par 2.

In [75]:
# 1:  Créez une liste contenant les nombres 1 à 5, puis affichez-la.
liste_nombres = [1, 2, 3, 4, 5]
print("Liste initiale:", liste_nombres)

Liste initiale: [1, 2, 3, 4, 5]

In [77]:
# 2: Ajoutez le nombre 6 à la fin de la liste, puis affichez la liste mise à jour
liste_nombres.append(6)
print("Liste après ajout de 6:", liste_nombres)

Liste après ajout de 6: [1, 2, 3, 4, 5, 6]

In [79]:
#  3: Supprimez le troisième élément de la liste, puis affichez la liste mise à jour
del liste_nombres[2]
print("Liste après suppression du troisième élément:", liste_nombres)

Liste après suppression du troisième élément: [1, 2, 4, 5, 6]

In [81]:
#  4: Parcourez la liste avec une boucle for et affichez chaque élément multiplié par 2
print("Éléments multipliés par 2:")
for nombre in liste_nombres:
    print(nombre * 2)

Éléments multipliés par 2:
2
4
8
10
12

### Exercice 2 : Manipulation de dictionnaire
1. Créez un dictionnaire représentant un livre, avec des clés pour "titre", "auteur"
et "année", puis affichez-le.
2. Ajoutez une clé "genre" avec une valeur appropriée au dictionnaire, puis
affichez le dictionnaire mis à jour.
3. Supprimez la clé "année" du dictionnaire, puis affichez le dictionnaire mis à
jour.
4. Parcourez le dictionnaire avec une boucle for et affichez chaque paire clé-
valeur

In [84]:
 #1. Créez un dictionnaire représentant un livre, avec des clés pour "titre", "auteur"et "année", puis affichez-le.

 livre = {
    "titre": "The Firm",
    "auteur": "John Grisham",
    "année": 1992 }
print("Présentation du livre:", livre)

Présentation du livre: {'titre': 'The Firm', 'auteur': 'John Grisham', 'année': 1992}

In [86]:
#2. Ajoutez une clé "genre" avec une valeur appropriée au dictionnaire, puis  affichez le dictionnaire mis à jour

livre["genre"] = "Thriller"
print("Présentation du livre après ajout de la clé 'genre':", livre)

Présentation du livre après ajout de la clé 'genre': {'titre': 'The Firm', 'auteur': 'John Grisham', 'année': 1992, 'genre': 'Thriller'}

In [88]:
#Supprimez la clé "année" du dictionnaire, puis affichez le dictionnaire mis à jour.
del livre["année"]
print("Présentation du livre après suppression de la clé 'année':", livre)

Présentation du livre après suppression de la clé 'année': {'titre': 'The Firm', 'auteur': 'John Grisham', 'genre': 'Thriller'}

In [90]:
# 4. Parcourez le dictionnaire avec une boucle for et affichez chaque paire clé-valeur
print("Paires clé-valeur du livre:")
for cle, valeur in livre.items():
    print(f"{cle}: {valeur}")

Paires clé-valeur du livre:
titre: The Firm
auteur: John Grisham
genre: Thriller

### Exercice 3 : Manipulation de set
1. Créez deux ensembles set1 contenant les nombres 1, 2, 3, 4 et set2
contenant les nombres 3, 4, 5, 6.
2. Affichez l'union de set1 et set2.
3. Affichez l'intersection de set1 et set2.
4. Affichez la différence entre set1 et set2.
5. Ajoutez le nombre 7 à set1 et retirez le nombre 1. Affichez set1 mis à jour.

In [97]:
#  1: Créez deux ensembles set1 et set2 contenant les nombres 1, 2, 3, 4 et set2 contenant les nombres 3, 4, 5, 6.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [99]:
#  2: Affichez l'union de set1 et set2
union_set = set1.union(set2)
print("Union de set1 et set2:", union_set)

Union de set1 et set2: {1, 2, 3, 4, 5, 6}

In [101]:
#  3: Affichez l'intersection de set1 et set2
intersection_set = set1.intersection(set2)
print("Intersection de set1 et set2:", intersection_set)

Intersection de set1 et set2: {3, 4}

In [103]:
# 4: Affichez la différence entre set1 et set2
difference_set = set1.difference(set2)
print("Différence entre set1 et set2:", difference_set)

Différence entre set1 et set2: {1, 2}

In [105]:
#  5: Ajoutez le nombre 7 à set1 et retirez le nombre 1. Affichez set1 mis à jour
set1.add(7)
set1.remove(1)
print("Set1 mis à jour:", set1)

Set1 mis à jour: {2, 3, 4, 7}

### Exercice 4 : Manipulation de tuple
1. Créez un tuple contenant les mois de l'année, puis affichez-le.
2. Essayez de modifier le premier élément du tuple pour changer "Janvier" en
"janv.", puis attrapez l'exception TypeError qui en résulte et affichez un
message d'erreur approprié.
3. Parcourez le tuple avec une boucle for et affichez chaque élément.

In [109]:
# 1: Créez un tuple contenant les mois de l'année, puis affichez-le
mois_annee = ("Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre")
print("Tuple des mois de l'année:", mois_annee)

Tuple des mois de l'année: ('Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre')

In [118]:
# 2: Essayez de modifier le premier élément du tuple et attrapez 
# l'exception TypeError qui en résulte et affichez un message d'erreur approprié.
try:
    mois_annee[0] = "janv."
except TypeError as e:
    print("Erreur: Impossible de modifier un élément du tuple. Les tuples sont immuables.")

Erreur: Impossible de modifier un élément du tuple. Les tuples sont immuables.

In [124]:
# 3: Parcourez le tuple avec une boucle for et affichez chaque élément
print("Les mois de l'année:")
for mois in mois_annee:
    print(mois)

Les mois de l'année:
Janvier
Février
Mars
Avril
Mai
Juin
Juillet
Août
Septembre
Octobre
Novembre
Décembre