# Exercices – Pandas
## Notebook utile: Jour 4 - 4. Bases de Pandas
 ### Exercice 1 : Création d'une Series manuellement

 Objectif : Créer une Series représentant les notes d'un groupe d'étudiants.
 Étapes :
1. Importez le module pandas avec l'alias 'pd'.
2. Créez une Series avec les valeurs suivantes : 15, 12, 18, 10, en utilisant 'pd.Series()'.
3. Attribuez à cette Series les index suivants : ['Alice', 'Bob', 'Clara', 'Dylan'].
4. Affichez la Series.

In [16]:
import pandas as pd

notes = pd.Series([15, 12, 18, 10], index=['Alice', 'Bob', 'Clara', 'Dylan'])

print(notes)

Alice    15
Bob      12
Clara    18
Dylan    10
dtype: int64

In [10]:
notes

Alice    15
Bob      12
Clara    18
Dylan    10
dtype: int64

### Exercice 2 : Création d'une Series à partir d'un dictionnaire
 Objectif : Créer une Series qui associe à chaque fruit son poids moyen.
 Étapes :
1. Créez un dictionnaire avec les paires clé-valeur suivantes : {'Pomme': 150, 'Banane': 120, 
'Orange': 130}.
2. Utilisez ce dictionnaire pour créer une Series avec 'pd.Series()'.
3. Affichez la Series

In [19]:
fruits = {'Pomme': 150, 'Banane': 120, 'Orange': 130}
poids_fruits = pd.Series(fruits)

poids_fruits

Pomme     150
Banane    120
Orange    130
dtype: int64

 ### Exercice 3 : Création d'un DataFrame manuellement
Objectif : Créer un DataFrame représentant des données de ventes pour deux produits.
Étapes :
1. Créez un DataFrame avec les données suivantes en utilisant 'pd.DataFrame()' :
 - Colonnes : 'Produit', 'Quantité Vendue'
 - Lignes : ['Produit A', 20], ['Produit B', 35]
2. Affichez le DataFrame

In [22]:
data = {
    'Produit': ['Produit A', 'Produit B'],
    'Quantité Vendue': [20, 35]
}
ventes = pd.DataFrame(data)
print(ventes)

     Produit  Quantité Vendue
0  Produit A               20
1  Produit B               35

 ### Exercice 4 : Création d'un DataFrame à partir d'un dictionnaire contenant 
des Series
Objectif : Créer un DataFrame où chaque colonne est associée à une Series.
Étapes :
1. Utilisez le dictionnaire suivant pour créer un DataFrame :
 - 'Nom' : Series(['Alice', 'Bob']),
 - 'Note' : Series([15, 12])
2. Assurez-vous que chaque nom est associé à sa note respective.
3. Affichez le DataFrame.

In [25]:

noms = pd.Series(['Alice', 'Bob'])
notes = pd.Series([15, 12])

data = {
    'Nom': noms,
    'Note': notes
}

df = pd.DataFrame(data)

print(df)

     Nom  Note
0  Alice    15
1    Bob    12

### Exercice 5 : Manipulation de DataFrame
Objectif : Explorer et manipuler un DataFrame contenant des informations sur des 
étudiants.
Données : Utilisez le DataFrame créé dans l'exercice 4 ou tout autre DataFrame contenant 
au moins 5 lignes et 2 colonnes.
Étapes :
1. Affichez les 3 premières lignes du DataFrame avec la méthode '.head()'.
2. Sélectionnez une colonne spécifique et affichez-la.
3. Utilisez '.loc[]' pour sélectionner les données d'un étudiant spécifique en utilisant son 
label.
4. Utilisez '.iloc[]' pour sélectionner les données d'un étudiant basé sur sa position dans le 
DataFrame.
5. Sélectionnez un sous-ensemble de lignes et de colonnes en utilisant le slicing.
6. Triez le DataFrame par une colonne spécifique en utilisant '.sort_values()'

In [34]:

# Création du DataFrame de l'exercice 4
noms = pd.Series(['Alice', 'Bob', 'Clara', 'Dylan', 'Eve'])
notes = pd.Series([15, 12, 18, 10, 16])

data = {
    'Nom': noms,
    'Note': notes
}

df = pd.DataFrame(data)

# Étape 1: Affichage des 3 premières lignes
print("Les 3 premières lignes du DataFrame:")
print(df.head(3))

# Étape 2: Sélection d'une colonne spécifique et affichage
print("\nLa colonne 'Note':")
print(df['Note'])

# Étape 3: Utilisation de '.loc[]' pour sélectionner les données d'un étudiant spécifique
print("\nDonnées de l'étudiant 'Clara' utilisant .loc[]:")
print(df.loc[2])  # Clara est à l'index 2

# Étape 4: Utilisation de '.iloc[]' pour sélectionner les données d'un étudiant basé sur sa position
print("\nDonnées de l'étudiant en position 1 utilisant .iloc[]:")
print(df.iloc[1])  # Bob est en position 1

# Étape 5: Sélection d'un sous-ensemble de lignes et de colonnes en utilisant le slicing
print("\nSous-ensemble de lignes et de colonnes (lignes 1 à 3, colonnes 'Nom' et 'Note'):")
print(df.loc[1:3, ['Nom', 'Note']])

# Étape 6: Tri du DataFrame par une colonne spécifique
print("\nDataFrame trié par la colonne 'Note':")
print(df.sort_values(by='Note'))

Les 3 premières lignes du DataFrame:
     Nom  Note
0  Alice    15
1    Bob    12
2  Clara    18

La colonne 'Note':
0    15
1    12
2    18
3    10
4    16
Name: Note, dtype: int64

Données de l'étudiant 'Clara' utilisant .loc[]:
Nom     Clara
Note       18
Name: 2, dtype: object

Données de l'étudiant en position 1 utilisant .iloc[]:
Nom     Bob
Note     12
Name: 1, dtype: object

Sous-ensemble de lignes et de colonnes (lignes 1 à 3, colonnes 'Nom' et 'Note'):
     Nom  Note
1    Bob    12
2  Clara    18
3  Dylan    10

DataFrame trié par la colonne 'Note':
     Nom  Note
3  Dylan    10
1    Bob    12
0  Alice    15
4    Eve    16
2  Clara    18